# Naive bayes classification data

# "Diabetes Prediction using Naive Bayes Algorithm: Building a Model for Disease Detection"

In [ ]:
data= (r"C:\Users\suraj tripathi\Desktop\Naive-Bayes-Classification-Data.csv dibetes.csv")
data

In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
# Naive Bayes Classification

# Importing the libraries

In [14]:
df=pd.read_csv(data)# Importing the dataset
df

     glucose  bloodpressure  diabetes
0         40             85         0
1         40             92         0
2         45             63         1
3         45             80         0
4         40             73         1
..       ...            ...       ...
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

[995 rows x 3 columns]

In [15]:
df.describe()

          glucose  bloodpressure    diabetes
count  995.000000     995.000000  995.000000
mean    44.306533      79.184925    0.500503
std      6.707567       9.340204    0.500251
min     20.000000      50.000000    0.000000
25%     40.000000      72.000000    0.000000
50%     45.000000      80.000000    1.000000
75%     50.000000      87.000000    1.000000
max     70.000000     100.000000    1.000000

In [16]:
df.info

<bound method DataFrame.info of      glucose  bloodpressure  diabetes
0         40             85         0
1         40             92         0
2         45             63         1
3         45             80         0
4         40             73         1
..       ...            ...       ...
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

[995 rows x 3 columns]>

In [17]:
df.isna().sum() #finding NA values

glucose          0
bloodpressure    0
diabetes         0
dtype: int64

In [40]:
df.shape

(995, 3)

In [41]:
df.size

2985

In [38]:
x=df[['glucose','bloodpressure']] #Spliting the dataset in independent and dependent variables
y=df['diabetes']

In [46]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.3)
# Splitting the dataset into the Training set and Test set

In [47]:
x_test.shape

(299, 2)

In [48]:
x_train.shape

(696, 2)

In [49]:
y_train.shape

(696,)

In [50]:
y_test.shape

(299,)

In [51]:
model=GaussianNB()

In [52]:
model.fit(x_train,y_train) # Fitting Naive Bayes Classification to the Training set with linear kernel

GaussianNB()

In [54]:
model.score(x_test,y_test) # checking model score

0.9331103678929766

In [71]:
y_pred=model.predict(x_test)
print(y_pred.shape)
print(y_pred) # Predicting the Test set results

(299,)
[1 1 1 0 0 0 1 0 0 1 0 0 0 0 0 1 1 1 1 0 0 1 1 0 0 0 1 1 0 0 0 1 0 1 0 1 1
 0 0 0 1 0 0 0 0 0 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 1 1 1 0 1 1 0 1 1 0 0 0 0
 1 1 0 0 1 1 0 0 0 0 0 0 0 1 0 1 0 0 1 0 1 1 0 1 1 1 1 1 1 0 0 1 1 0 1 0 1
 0 1 0 0 1 0 0 1 1 1 0 0 0 0 1 1 0 1 1 1 0 0 0 1 1 1 1 0 1 1 0 1 1 1 1 0 0
 1 1 0 1 0 0 1 1 1 0 0 1 1 1 0 1 1 1 0 0 1 1 1 0 1 0 0 1 0 1 1 1 1 1 0 0 0
 1 1 1 0 1 1 1 1 0 0 1 0 0 0 0 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 1 1 1 0 0 1 1
 0 0 1 1 1 1 0 0 1 0 0 1 0 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 1 0 1 0 0 1 0 1 0
 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 1 1 1 0 0 1 1 1 0 1 0 1 1 1 1 0 1 0
 1 1 0]

In [68]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm) # Making the Confusion Matrix

[[130  10]
 [ 10 149]]